<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="min-h-full">
    <nav class="">
      <ul class="flex w-full min-h-5 items-center justify-end bg-yellow-300">
        <li class="text-2xl text-white py-4 px-6 mr-auto"><a>Home</a></li>
        <li class="text-2xl text-white py-4 px-6"><a>Login</a></li>
        <li class="text-2xl text-white py-4 px-6"><a>Register</a></li>
      </ul>
    </nav>
  </body>
</html>
