<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./stylesheets/style.css" />

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
      </style>
  </head>
  <body class="min-h-full">
    <nav class="">
      <ul class="flex w-full min-h-5 items-center justify-end bg-gray-700 border-b">
        <li class=" main-logo  py-4 px-6 mr-auto text-4xl text-white"><a href="/" class="">FileFlow</a></li>
        <li class="text-2xl text-white py-4 px-6"><a href="/login">Login</a></li>
        <li class="text-2xl text-white py-4 px-6"><a href="/signup">Register</a></li>
      </ul>
    </nav>
  </body>
</html>
