<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Document</title>
</head>
<body class="text-white">
  <%- include("partials/nav.ejs" ) %>
<form action="/files/create" method="post">
  <input type="text" name="name" class="text-black">
  <input type="file" name="file" id="">
  <input type="hidden" name="folderId" value="<%= folderId %>">
  <button type="submit">X</button>
</form>
</body>
</html>