<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <title>Home</title>
  </head>
  <body class="bg-[url('../assets/dark-1845685_1920.jpg')]">
    <%- include("partials/nav.ejs" ) %>
      <% if (user){%>
        <h3>User is logged in!</h3>
        <h3>Hi <%= user.username %></h3>
<div class="container flex  bg-gray-700 mx-auto p-7 text-white">
  <div class="folder-layout W-3/4 ">
    <div class="top-layout">
      <div class="links flex">
        <a href="/">
        <img src="./assets/home-custom.png" alt="" srcset="">
        </a>
        <span>></span>
      </div>
      <div class="create-folder my-6">
        <!-- Folder + icon  -->
         <form action="/folders/create" method="post">
          <input type="text" name="name">
          <button type="submit">
           <img src="./assets/folder-plus-custom.png" alt="" srcset="">
          </button>
         </form>
         </a>
      </div>
    </div>
     <div class="bottom-layout">
      <ul class="folders flex flex-row ">
        <% if(folders && folders.length > 0) { %>
          <% folders.forEach((folder) => { %>
            <div class="folder mx-5 items-center justify-center">
              <div class="folder-image flex justify-center items-center">
                <img src="../assets/icons8-folder-64.png" alt="" class="cursor-pointer">
              </div>
              <li class="flex items-center justify-center"><a href="/folder/<%= folder.id %>"><%= folder.title%> </li>
            </div>
          <% }) %>
        <% } else { %>
          <li>No folders found</li>
        <% } %>
    </ul>
  </div>
  </div>
</div>
      <%} else{%>
        <h2>User is not logged in!</h2>
        <% }%>
  </body>
</html>
