<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <meta name="viewport" content="width=	, initial-scale=1.0" />
    <title>Log In</title>
  </head>
  <body>
    <%- include("partials/nav.ejs" ) %>
    <% if (user) {%>
      <h1>WELCOME BACK <%= user.username %></h1>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
    <form action="/login" method="post">
      <label for="username">Username</label><input type="text" name="username"/><label for="password"
        >Password</label
      ><input type="password" name="password"/>
      <button type="submit">Log In</button>
    </form>
    <% }%>
  </body>
</html>
